
@{
    ViewBag.Title = "Index";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Login </title>

    <link rel="stylesheet" href="~/Content/css/reset.min.css">

    <link rel="stylesheet" href="~/Content/css/loginstyle.css">

</head>
<body>
    <div class="wrap">
        <div class="avatar">
            <img width="80px" src="~/Content/img/avatar.jpg">
        </div>
        <input type="text" placeholder="Tài khoản" required>
        <div class="bar">
            <i></i>
        </div>
        <input type="password" placeholder="Mật khẩu" required>
        <button>Đăng nhập</button>
    </div>
</body>
</html>


